
.head{
	width: 100%;
	height: 80px;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
}
.head-box1{
	font-weight: bold;
	color: rgba(0,10,10,0.7);
	width: 40%;
	height: 50px;
	font-size:42px;
	line-height: 80px;
	margin-left: 10px;
}
.head-box2{
	margin-top: 30px;
}
#img{
    z-index: -1;/*使背景图片置底显示*/
    position:absolute;
    width:100%;
    height:100%;
    opacity: 0.8;
}


.quit{
	margin-left: 5px;
	font-weight: bold;
	border-radius: 10px;
}
.page{
	display: flex;
	background:rgba(255,255,255,0.3);
}
.duty{
	background: rgba(192,192,192,0.5);
	margin-left: 10px;
	border:1px solid rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	width: 7%;
	height: 360px;
	display: flex;
}
.d{
	height: 60px;
	font-size:20px;
	/*font-weight: bold;*/
	text-align: center;
	line-height: 60px;
}
.main{
	width: 92%;
	/*background-color: #ccc;*/
	display: flex;
	flex-direction: column;
}
.work{
	margin-top: 50px;
	margin-left: 100px;
	width: 90%;
	height: 100px;
	/*background-color: yellow;*/
	line-height: 100px;
	font-size: 18px;

}

.box{
	margin-left: 10px;
	margin-right: 10px;
	width: 500px;
	height: 30px;
	line-height: 30px;
	background-color: #eee;
}
.main-bottom{
	width: 80%;
	display: flex;
	flex-direction: row-reverse;
}
.submit{
	width: 60px;
	height: 30px;
	margin-right: 0px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}