@charset "utf-8";
body,
html {
    height: 100%;
}

body,
ul {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "微软雅黑", "宋体", "Arial Narrow", HELVETICA;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.g-index {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav {
    position: relative;
    width: 250px;
    height: 100%;
    background: rgb(245, 247, 250);
    border-right: solid rgb(230, 233, 240) 1px;
    transition: all .3s;
}

.nav-top {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    border-bottom: solid rgb(230, 233, 240) 1px;
}

.nav-logo img {
    margin-left: 10px;
    width: 80%;
    height: 90%;
}

.nav a {
    display: block;
    overflow: hidden;
    padding-left: 20px;
    line-height: 50px;
    max-height: 50px;
    color: rgb(141, 145, 153);
    transition: all .3s;
    display: flex;
    align-items: center;
}

.nav a span {
    margin-left: 30px;
}

.nav-item {
    position: relative;
    margin-bottom: 5px;
}

.nav-item ul {
    display: none;
    background: rgb(223, 237, 251);
}

.nav-item .nav-show ul {
    display: block;
    margin-bottom: 5px;
}

.nav-item > a:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 4px;
    height: 50px;
    background: rgb(50, 149, 247);
    opacity: 0;
    transition: all .3s;
}

.nav .nav-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -1px;
}

.nav-more {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    transition: transform .3s;
}

.nav-show .nav-more {
    transform: rotate(90deg);
}

.nav-show,
.nav-item > a:hover {
    background: rgb(223, 237, 251);
}

.nav-show > a:before,
.nav-item > a:hover:before {
    opacity: 1;
}

.nav-item li:hover a {
    color: black;
}

.hidden {
    flex-grow: 1;
}

.content {

    width: calc(100% - 250px);
    height: 100%;
    transition: all .3s;
}

.content-top {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    border-bottom: solid rgb(230, 233, 240) 1px;
    justify-content: flex-end;
}

.user-name {
    color: grey;
    margin-right: 20px;
}

.quit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 8%;
    color: rgb(121, 132, 154);
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(149, 201, 255);
    background: rgb(245, 250, 255);
    border-radius: 5px;
    margin-right: 10px;
}
