@charset "UTF-8";

/**
 * 
 * @authors slcyyy (you@example.org)
 * @date    2018-06-03 20:46:17
 * @version $Id$
 */
select {
    width: 140px;
    height: 35px;
    background: #fff;
    color: #343a40;
    text-indent: 5px;
    font-size: 15px;
    border-radius: 5px;
}

.eva thead {
    font-size: 18px;
}

.eva th {
    color: #4D4D4D;
}

.eva tr, td {
    text-align: center;
    border: 1px solid #6c757d;
    color: #343a40;
    height: 90px;
    font-size: 15px;
    vertical-align: center;
}

.eva tr:nth-child(2n) {
    background: rgb(243, 250, 255);
}

.eva input {
    width: 50%;
    height: 25%;
    text-align: center;
    margin: auto;
}
