@charset "UTF-8";

/**
 * 
 * @authors slcyyy (you@example.org)
 * @date    2018-06-03 23:23:03
 * @version $Id$
 */

table{
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
    line-height: 25px;
}

.table th {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.table td {
    vertical-align: center;
    width: 15%;
    text-align: center;

}

.bar2 input, .bar2 button {
    border-radius: 3px;
}

.bar2 input {
    background: rgb(243, 250, 255);
}

.bar2 button {
    height: 26px;
    width: 26px;
    top: 8px;
    right: 8px;
    background: #6f42c1;
    position: relative;
    top: 5px;
}

.bar2 button:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

.table_name{
    font-size:20px;
    font-weight: bold;
    margin-buttom:20px;
    padding-left:10px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: rgb(243,250,255);
    width:100%;
}