<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>成绩查询</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/homework.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/base.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/task.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/evalute.css">
    <link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.min.css">

    <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/jsrender/jsrender.js"></script>
    <script type="text/javascript" src="../lib/jquery/jquery.params.js"></script>
</head>

<body>

    <div class="g-index">
        <div class="nav">
            <div class="nav-top">
                <div class="nav-logo"><img src="../img/logo02.png"></div>
            </div>
            <ul>
                <li class="nav-item">
                    <a href="student.html" style="display: flex;">
                            <span>我的作业</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item has-chosen">
                    <a href="gradeSearchStd.html" style="display: flex;">
                            <span>成绩查询</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="evaluteStudent.html" style="display: flex;">
                            <span>成绩评定</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="pwdChange.html" style="display: flex;">
                        <span>修改密码</span>
                        <div class="hidden"></div>
                        <i class="fa fa-chevron-right nav-more" id="nav_icon1"></i>
                    </a>
                </li>

            </ul>
        </div>
        <div class="content">
            <div class="content-top">
                <a class="userControl" style="display: flex; align-items: center;" onClick="cancel()">
                        <i class="fa fa-power-off nav-more fa-2x" id="nav_icon2" style="color: rgb(32, 142, 251);"></i>
                    </a>
            </div>
            <div class="content-main" style="display: flex; flex-direction: column;">
                    <div class="content-main-top" style="display: flex; align-items: center;">
                        <span>选择作业:</span>
                        <select id = "taskSlct"></select>
                    </div>
                    <ul class="taskList" style="width: 100%; height: calc(100% - 10% - 7.5%);">
                    <li style="width: 100%;">
                        <div class="taskDetail" style="display: flex; align-items: center;">

                            <div class="attribute" style="width: 50%;"><span class="smltitle ">作业</span></div>
                            <div class="attribute" style="width: 50%;"><span class="smltitle ">评分</span></div>
                        </div>
                    </li>
                    <div class="box"></div>
                    <script type="text/x-jsrender" id="theTmpl">
                        {{for}}
                        <li style="width: 100%;">
                            <div class="taskDetail" style="display: flex; align-items: center;">
                                <div style="width: 12.5%; background: {{if totalGrade}}white{{else}}rgb(248, 247, 255){{/if}}"><span>{{:task_title}}</span></div>
                                <div style="width: 12.5%; background: {{if totalGrade}}white{{else}}rgb(248, 247, 255){{/if}}; color:{{if totalGrade}}red{{else}}black{{/if}};"><a href="" style="width:100%; height;100%; background: transparent;">{{if totalGrade}}{{:totalGrade}}{{else}}暂无评价{{/if}}</a></div>
                            </div>
                        </li>
                        {{/for}}
                    </script>
                </ul>
                </div>
        </div>
    </div>
</body>
</html>
