<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>班级管理/教师</title>

    <link rel="stylesheet" type="text/css" href="../sys/css/base.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/set.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/stdGradeViewT.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/evalute.css">

    <link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/toastr-master/toastr.css">

    <link rel="icon" href="highcharts/images/favicon.ico">

    <script type="text/javascript" src="../lib/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="../lib/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="../lib/highcharts/highcharts-zh_CN.js"></script>
    <script type="text/javascript" src="../lib/highcharts/themes/grid-light.js"></script>

    <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/toastr-master/toastr.js"></script>

    <script type="text/javascript" src="../lib/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="../lib/jsrender/jsrender.js"></script>
    <script type="text/javascript" src="../lib/pace/pace.min.js"></script>
    <script src="../lib/jquery-tab/prefixfree.min.js"></script>
    <script type="text/javascript" src="../lib/jquery-tab/jquery-tab.js"></script>
    <script type="text/javascript">
        $(function() {
            // Calling the plugin
            $('.tab-group').tabify();
        })
    </script>



</head>

<body>
    <div class="g-index">
        <div class="nav">
            <div class="nav-top">
                <div class="nav-logo"><img src="../img/logo02.png"></div>
            </div>
            <ul>
                <li class="nav-item">
                    <a href="task.html" style="display: flex;">
                            <span>发布新任务</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="evalute.html" style="display: flex;">
                            <span>学生成绩评定</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item has-chosen">
                    <a href="stdGradeViewT.html" style="display: flex;">
                            <span>学生成绩查询</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="set.html" style="display: flex;">
                        <span>设置评分标准</span>
                        <div class="hidden"></div>
                        <i class="fa fa-chevron-right nav-more" id="nav_icon1"></i>
                    </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="pwdChangeT.html" style="display: flex;">
                            <span>修改密码</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="classManagement.html" style="display: flex;">
                            <span>班级管理</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>

            </ul>
        </div>
        <div class="content">
            <div class="content-top">
                <a class="userControl" style="display: flex; align-items: center;" onClick="cancel()">
                        <i class="fa fa-power-off nav-more fa-2x" id="nav_icon2" style="color: rgb(32, 142, 251);"></i>
                    </a>
            </div>
            <div style="height:35px;width:94%;margin:2.5% 0 0 3%;">
                <span>选择班级:&nbsp;</span>
                <select id="classSlct" name="class" style="width:200px; height:35px;border-color:rgb(230, 230, 230);"></select>
                <span style="margin-left:8%;">选择任务:&nbsp;</span>
                <select id="taskSlct" style="width:200px; height:35px;border-color:rgb(230, 230, 230);"></select>
                <button class="minisearch btn" id="minisearch">查询</button>
            </div>
            <div class="content-main" style=" width: 94%;margin-left:3%; margin-top: 1%;">
                <div class="tab-group">
                    <section id="tab1" title="成绩列表">
                        <div style="height: 90%;width: 100%;margin: 0;display: flex; flex-direction: column;">
                            <ul class="taskList" style="width: 100%; height: calc(100% - 10% - 7.5%);">
                                <li style="width: 100%;">
                                    <div class="taskDetail" style="display: flex; align-items: center;">

                                        <div class="attribute" style="width: 12.5%;"><span class="smltitle ">作业</span></div>
                                        <div class="attribute" style="width: 12.5%;"><span class="smltitle ">学生ID</span></div>
                                        <div class="attribute" style="width: 12.5%;"><span class="smltitle ">班级</span></div>
                                        <div class="attribute" style="width: 12.5%;"><span class="smltitle ">姓名</span></div>
                                        <div class="attribute" style="width: 12.5%;"><span class="smltitle ">自评</span></div>
                                        <div class="attribute" style="width: 12.5%;"><span class="smltitle ">小组评</span></div>
                                        <div class="attribute" style="width: 12.5%;"><span class="smltitle ">老师评</span></div>
                                        <div class="attribute" style="width: 12.5%;"><span class="smltitle ">总评</span></div>
                                    </div>
                                </li>
                                <div class="box"></div>
                                <script type="text/x-jsrender" id="theTmpl">
                                    {{for}}
                                    <li style="width: 100%;">
                                        <div class="taskDetail" style="display: flex; align-items: center;">
                                            <div style="width: 12.5%; background: {{if groupGrade&&teacherGrade&&selfGrade}}white{{else}}rgb(248, 247, 255){{/if}}"><span>{{:task_title}}</span></div>
                                            <div style="width: 12.5%; background: {{if groupGrade&&teacherGrade&&selfGrade}}white{{else}}rgb(248, 247, 255){{/if}}"><span>{{:user_number}}</span></div>
                                            <div style="width: 12.5%; background: {{if groupGrade&&teacherGrade&&selfGrade}}white{{else}}rgb(248, 247, 255){{/if}}"><span>{{:user_class}}</span></div>
                                            <div style="width: 12.5%; background: {{if groupGrade&&teacherGrade&&selfGrade}}white{{else}}rgb(248, 247, 255){{/if}}"><span>{{:user_name}}</span></div>
                                            <div style="width: 12.5%; background: {{if groupGrade&&teacherGrade&&selfGrade}}white{{else}}rgb(248, 247, 255){{/if}}"><span>{{if selfGrade}}{{:selfGrade}}{{else}}暂无评价{{/if}}</span></div>
                                            <div style="width: 12.5%; background: {{if groupGrade&&teacherGrade&&selfGrade}}white{{else}}rgb(248, 247, 255){{/if}}"><span>{{if groupGrade}}{{:groupGrade}}{{else}}暂无评价{{/if}}</span></div>
                                            <div style="width: 12.5%; background: {{if groupGrade&&teacherGrade&&selfGrade}}white{{else}}rgb(248, 247, 255){{/if}}"><span>{{if teacherGrade}}{{:teacherGrade}}{{else}}暂无评价{{/if}}</span></div>
                                            <div style="width: 12.5%; background: {{if groupGrade&&teacherGrade&&selfGrade}}white{{else}}rgb(248, 247, 255){{/if}}; color:{{if groupGrade&&teacherGrade&&selfGrade}}red{{else}}black{{/if}};"><a href="" style="width:100%; height;100%; background: transparent;">{{if groupGrade&&teacherGrade&&selfGrade}}{{:totalGrade}}{{else}}暂无评价{{/if}}</a></div>
                                        </div>
                                    </li>
                                    {{/for}}
                                </script>
                            </ul>
                        </div>
                    </section>

                    <section id="tab2" title="成绩分析">


                        <div id="list"  style="display:flex;flex-wrap: wrap;"></div>
                            <script type="text/x-jsrender" id="tmp">
                                {{for}}

                                <div class="boxB">
                                    <div id="hwTitle" class="hwTitle">{{:task_title}} </div>
                                    <div style="width:100%;height:auto;border-bottom:1px solid rgb(230, 230, 230)">
                                        <div id="stdName" class="stdName">{{:student.name}}</div>
                                        <div id="stdNum" class="stdNum">{{:student.id}}</div>
                                    </div>

                                    <div id="stdEveryScore" class="stdEveryScore">
                                        <div id="stdTotalScore" class="stdTotalScore">
                                            <div style=" font-size: 60px;color: #f73859;">{{:totalgrade}}</div>
                                        </div>
                                        <div style="wisth:50%;height:auto;">
                                            <div style="display:flex">
                                                <div id="teaName" class="teaName">
                                                    <div>{{:teacher.name}}</div>
                                                </div>
                                                <div id="teaScore" class="Score">
                                                    <div>{{:teacher.grade}}</div>
                                                </div>
                                            </div>
                                            <div style="display:flex">
                                                <div id="selfName" class="selfName">
                                                    <div>自评</div>
                                                </div>
                                                <div id="selfScore" class="Score">
                                                    <div>{{:student.grade}}</div>
                                                </div>
                                            </div>
                                            {{for group}}
                                            <div style="display:flex">
                                                <div id="groupName" class="groupName">
                                                    <div>{{:name}}</div>
                                                </div>
                                                <div id="groupScore" class="Score" >
                                                    <div style="text-align: center;">{{:grade}}</div>
                                                </div>
                                            </div>
                                            {{/for}}

                                        </div>
                                    </div>
                                </div> 

                                {{/for}}
                            </script>
                        

                    </section>
                    <section id="tab3" title="成绩图表">
                        <div class="box1"></div>
                        <div id="container" style="min-width:300px;height:600px"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../sys/js/gradeSearchNew.js"></script>
    <!-- <script type="text/javascript" src="../sys/js/stdGradeViewT.js"></script> -->
</body>


</html>
