<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>成绩评定/教师</title>
    <link rel="stylesheet" type="text/css" href="../lib/toastr-master/toastr.css">
    <link rel="stylesheet" type="text/css" href="../lib/pace/pace.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/base.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/evalute.css">
    <link rel="stylesheet" type="text/css" href="../sys/css/taskManage.css">
    <link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.min.css">

    <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/pace/pace.min.js"></script>
    <script type="text/javascript" src="../lib/toastr-master/toastr.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/jsrender/jsrender.js"></script>
</head>

<body>
    <div class="g-index">
        <div class="nav">
            <div class="nav-top">
                <div class="nav-logo"><img src="../img/logo02.png"></div>
            </div>
            <ul>
                <li class="nav-item">
                    <a href="task.html" style="display: flex;">
                            <span>发布新任务</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item has-chosen">
                    <a href="gradeSearch.html" style="display: flex;">
                            <span>任务管理</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="evalute.html" style="display: flex;">
                            <span>学生成绩评定</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="gradeSearch.html" style="display: flex;">
                            <span>学生成绩查询</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li id="nav-item">
                    <a href="set.html" style="display: flex;">
                        <span>设置评分标准</span>
                        <div class="hidden"></div>
                        <i class="fa fa-chevron-right nav-more" id="nav_icon1"></i>
                    </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="passwordT.html" style="display: flex;">
                            <span>修改密码</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="classManagement.html" style="display: flex;">
                            <span>班级管理</span>
                            <div class="hidden"></div>
                            <i class="fa fa-chevron-right nav-more" id="nav_icon1" ></i>
                        </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="content-top"> 
                <a class="userControl" style="display: flex; align-items: center;" onClick="cancel()">
                        <!-- <span class="userCotrol-title">个人面板&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
                        <i class="fa fa-power-off nav-more fa-2x" id="nav_icon2" style="color: rgb(32, 142, 251);"></i>
                    </a>
            </div>
            <div class="content-main" style="display: flex; flex-direction: column;">
                <div class="content-main-top" style="display: flex; align-items: center; border-bottom: none;">
                    <span>选择班级:</span>
                    <select id="classSlct">
                        <option>软工161</option>
                        <option>软工162</option>
                        <option>全部</option>
                    </select>
                    <button class="minisearch btn" id="minisearch">查询</button>
                </div>
                <div class="editTask">
                    <div class="box"></div>
                        <!-- 定义JsRender模版 -->  
                        <script type="text/x-jsrender" id="testTmpl">
                            <li class="lookLi"> 
                                <div class="titTxt">
                                    <p style="padding-top: 11px;"><a>作业
                                        <a id="head" name="{{:#index+1}}">{{:#index+1}}</a></a>
                                    </p>
                                    <!-- <div id="details"><h5 class="demand">作业要求：</h5><div class="demand_detail">{{:content}}</div></div> -->
                                    <span>作业内容：</span>
                                    <span><div style="display: inline;" id="short{{:#index}}">{{:task_title.substr(0,10)}}...</div></span>
                                    <span><div style="display: none;" id="detail{{:#index}}">{{:task_title}}</div></span>
                                    <span><button id="demoBtn" class="btn_detail" name="{{:#index}}" >详情</button></span>

                                    <div title="" class="pt5"><span class="f1">发布老师：</span><span>{{:user_name}}</span></div>
                                    <div title="" class="pt5"><span class="f1">开始时间：</span><span>{{:publish_date}}</span></div>
                                    <div title="" class="pt5"><span class="f1">截止时间：</span><span>{{:end_date}}</span></div>
                                    <div id="tit" title="" class="pt5"><span class="f1"></span>作业状态：<strong>
                                        {{if total_tag == 0}}已完成
                                        {{else}}未完成
                                        {{/if}}
                                    </strong></div>
                                </div>
                                <div class="titOper">
                                    <p class="clearfix">                            
                                        <button id="ac" class="Btn_blue" name="{{:#index+1}}">
                                            {{if total_tag == 0}}查看
                                            {{else}}去完成
                                            {{/if}}
                                        </button>       
                                    </p>
                                </div>
                            </li>
                        </script>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../sys/js/evalute.js"></script>

</html>
