@charset "utf-8";
body,
html {
    height: 100%;
}

body,
ul {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "微软雅黑", "宋体", "Arial Narrow", HELVETICA;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.g-index {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav {
    position: relative;
    width: 250px;
    height: 100%;
    background: rgb(245, 247, 250);
    border-right: solid rgb(230, 233, 240) 1px;
    transition: all .3s;
}

.nav-top {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    border-bottom: solid rgb(230, 233, 240) 1px;
}

.nav-logo img {
    margin-left: 10px;
    width: 80%;
    height: 90%;
}

.nav a {
    display: block;
    overflow: hidden;
    padding-left: 20px;
    line-height: 50px;
    max-height: 50px;
    color: rgb(141, 145, 153);
    transition: all .3s;
    display: flex;
    align-items: center;
}

.nav a span {
    margin-left: 30px;
}

.nav-item {
    position: relative;
    margin-bottom: 5px;
}

.nav-item ul {
    display: none;
    background: rgb(223, 237, 251);
}

.nav-item .nav-show ul {
    display: block;
    margin-bottom: 5px;
}

.nav-item > a:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 4px;
    height: 50px;
    background: rgb(50, 149, 247);
    opacity: 0;
    transition: all .3s;
}

.nav .nav-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -1px;
}

.nav-more {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    transition: transform .3s;
}

.nav-show .nav-more {
    transform: rotate(90deg);
}

.nav-show, .nav-item > a:hover {
    background: rgb(223, 237, 251);
}

.nav-show > a:before, .nav-item > a:hover:before {
    opacity: 1;
}

.has-chosen:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 4px;
    height: 50px;
    background: rgb(50, 149, 247);
    opacity: 1;
    transition: all .3s;
}

.has-chosen{
    background: rgb(223, 237, 251);
}

.nav-item li:hover a {
    color: black;
}

.hidden {
    flex-grow: 1;
}

.content {
    width: calc(100% - 250px);
    height: 100%;
    transition: all .3s;
}

.content-top {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    border-bottom: solid rgb(230, 233, 240) 1px;
    justify-content: flex-end;
}
.content-main{overflow: scroll;height: 87%;width: 100%;}

.userCotrol-title, .userName, .userID {
    color: rgb(141, 145, 153);
}

.userBox {
    border-style: solid;
    border-color: rgb(235, 237, 243);
    border-width: 2px;
    height: 20%;
    width: 28%;
    border-radius: 3%;
}
.userBox-top {
    display: flex;
    align-items: center;
}
.userPic {
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 50%;
    height: 40%;
    width: 25%;
}
.userInf {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.userID {
    margin-top: 5%;
}
.userBox-bottom {
    height: 30%;
    border-top: solid rgb(235, 237, 243) 1px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userBox-bottom > a:hover {
    color: black;
}
.userControl {
    cursor: pointer;
}


.task {
    margin-left: 50px;
    max-width: 700px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.task .dropdown {
    margin-right: 20px;
}

.task label {
    display: block;
    margin: 0px 0px 5px;
}


.task input[type="text"],
.task input[type="email"],
.task textarea {
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    line-height: 15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


.task textarea {
    height: 100px;
    padding: 5px 0px 0px 5px;
    width: 100%;
}

.task .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}

.task .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

