@import url("task.css");

body{font:12px/1.5 MicroSoft YaHei,Arial, Helvetica, sans-serif;color:#333;}
a{color:#202020;text-decoration:none;}
.fl{float:left;}

/*作业列表*/
.ulDiv{ overflow:hidden; font-family:"Microsoft YaHei";padding: 50px}
.ulDiv ul{padding-bottom:15px; position:relative; margin-right:-30px;}
.ulDiv ul li{width:315px; padding:10px 0 10px 0; background-color:#fff; float:left;display:inline; zoom:1; letter-spacing: 0; overflow:hidden;margin-right:22px;}
.ulDiv ul li .titTxt{ border:1px solid #e1e1e1; border-bottom:0; padding:0 10px 10px; overflow:hidden;}
.ulDiv ul li .titTxt p{ color:#333; font-size:16px; font-family:Microsoft YaHei; padding:1px 0;}
.ulDiv ul li .titTxt p a{color:#333;font-weight:bold;}
.ulDiv ul li .titTxt strong{ color:#555; font-weight:bold;}
.ulDiv ul li .titTxt span{ display:inline-block; color:#424242;font-size:12px;}
.ulDiv ul li .titOper{ background-color:#e8eeda; height:50px; color:#fff; padding:0 10px; overflow:hidden;border:solid 1px  #ccc;}
.ulDiv ul li .titOper p{ margin-top:10px;float:right;}
.ulDiv ul li .titOper p a{letter-spacing: 0;text-decoration:none;}
.pt5{padding:5px 0;}
/*.ulDiv ul li .titOper strong{ font-size:30px; font-family:DokChampa; font-weight:bold; float:left;color:#7b9e31;}
.ulDiv ul li .titOper strong span{ font-size:12px; font-weight:normal; padding-left:5px;color:#666;}
.ulDiv ul li .titOper p .copy,.ulDiv ul li .titOper p .delete{ display:inline-block; vertical-align:top; width:14px; height:14px; background-color: lightpink; margin-right:10px; margin-top:8px;}
.ulDiv ul li .titOper p .copy{ background-position:-131px 0;}
.ulDiv ul li .titOper p .copy:hover{ background-position:-179px 0;}
.ulDiv ul li .titOper p .delete{ background-position:-155px 0;}
.ulDiv ul li .titOper p .delete:hover{ background-position:-203px 0;}
.ulDiv ul li.lookLi .titOper{}*/
.Btn_blue{
	width: 60px;
	height:30px;
	background-color: lightblue;
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: white;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
}

.container{
	
}
.duty{
	margin-top: 100px;
}
.panel-title{
	height:30px;
	line-height: 30px;
}
.row-title{
	height:30px;
	line-height: 30px;
	font-weight: bold;
}
