@import url("base.css");

body{font:12px/1.5 MicroSoft YaHei,Arial, Helvetica, sans-serif;color:#333;}
a{text-decoration:none;color:#202020;}
.fl{float:left;}

/*作业列表*/
.ulDiv{ font-family:"Microsoft YaHei";padding: 25px;}
.ulDiv ul{padding-bottom:15px; position:relative; margin-right:-30px;}
.ulDiv ul li{width:320px; padding:10px 10px 10px 10px; background-color:#fff; float:left;display:inline; zoom:1; letter-spacing: 0; overflow:hidden;margin-right:22px;}
.ulDiv ul li .titTxt{ border:1px solid #e1e1e1; border-bottom:0; padding:0 10px 10px; overflow:hidden;}
.ulDiv ul li .titTxt p{ color:#333; font-size:16px; font-family:Microsoft YaHei; padding:1px 0;}
.ulDiv ul li .titTxt p a{color:#333;font-weight:bold;}
.ulDiv ul li .titTxt strong{ color:#555; font-weight:bold;}
.ulDiv ul li .titTxt span{ display:inline-block; color:#424242;font-size:12px;}
.ulDiv ul li .titOper{ background-color:rgb(245, 247, 250); height:50px; color:#fff; padding:0 10px; overflow:hidden;border:solid 1px  #e1e1e1;}
.ulDiv ul li .titOper p{ margin-top:10px;float:right;}
.ulDiv ul li .titOper p a{letter-spacing: 0;text-decoration:none;}
.pt5{padding:5px 0;}
.Btn_blue{
	width: 70px;
	height:30px;
	border: 1px solid rgb(149, 201, 255);
	background-color: rgb(245, 250, 255);
	border-radius: 18px;
	color: rgb(5, 127, 254);
	float: right;
	font-size: 120%;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
}
.Btn_blue:hover {
	border: 1px solid rgb(5, 127, 254);
	background-color: rgb(5, 127, 254);
	color: white;
}
.btn_detail{
	border-radius: 8px;
	border:none;
	text-decoration: none;
}
.container{}
.f{margin-left: 113px;}
.block{
	/*background-color: #eee;*/
	width: 100%;
	height: 500px;
}
.k{margin-left: 10px;}
.control-label{
	color: rgb(120, 120, 120);
	font-size: 120%;
	font-weight: normal;
	margin-top: 10px;
}
.b-s{
	font-size: 120%;
	font-weight: bold;
	margin-top:20px;
	margin-left: 900px;
	border: 1px solid rgb(149, 201, 255);
	background-color: rgb(245, 250, 255);
	border-radius: 20px;
	color: rgb(5, 127, 254);
}
.b-s:hover {
	margin-top:20px;
	margin-left: 900px;
	border: 1px solid rgb(5, 127, 254);
	background-color: rgb(5, 127, 254);
	color: white;
}
.container-top {
	margin: 15px;
	margin-left: 30px;
	font-size: 200%;
	color: rgb(74, 74, 74);
}


/*.details{display: inline-block;width: 280px;overflow: hidden}
.details:hover{width: auto}*/

