.pwdCon {
    width: 300px;
    margin-top: 17%;
    margin-left: 35%;
}

input {
    width: 200px;
    height: 30px;
    border-width: 2px;
    border-radius: 1px;
}

.error {
    color: #EE6363;
}

input.error {
    border: 2px solid #EE6363;

}

.content-main{
	overflow: hidden;
	height: 92%;
}