.fstTitle {
	color: rgb(140, 144, 135);
	font-size: 150%;
}
.hiddenbox {
	content: " ";
	flex-grow: 5;
}
.content-main-buttombox {
	margin-left: 5%;
	margin-top: 3%;
	margin-left: 30px;
	margin-right: 30px;
	width: calc(100% - 60px);
}
.basicbtn {
	border: rgb(149, 201, 255) solid 1px;
	background-color: rgb(245, 250, 255);
	border-radius: 18px;
	color: rgb(5, 127, 254);
	width: 68px;
	height: 33px;
	font-size: 100%;
	margin-right: 3%;
	font-weight: thin;
	right: 0;
}
.basicbtn:hover {
	border: rgb(5, 127, 254) solid 1px;
	background-color: rgb(5, 127, 254);
	color: white;
}

.tab-group {
  width: 97%;
  border: 1px solid #eee;
  border-bottom: none;
  margin-top: 4em;
}
.tab-group section {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, height 0.4s ease;
}
.tab-group section.active {
  opacity: 1;
  overflow: visible;
  height: auto;
}

.tab-nav {
  list-style: none;
  margin: -2.5em -1px 0 0;
  padding: 0;
  height: 2.5em;
  overflow: hidden;
}
.tab-nav li {
  display: inline;
}
.tab-nav li a {
  top: 1px;
  position: relative;
  display: block;
  float: left;
  border-radius: 10px 10px 0 0;
  background: #eee;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
  color: grey;
  margin-top: .5em;
  margin-right: 1px;
  transition: background .2s ease, line-height .2s ease, margin .2s ease;
}
.tab-nav li.active a {
  background: rgb(141, 199, 255);
  color: white;
  font-size: 120%;
  line-height: 2.2em;
  margin-top: 0;
}
.standardbox {
	display: flex;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right:1px solid #eee;
}
.item_title, .savenow {
	width: 100%;
	height: 70px;
}
.item_title div {
	display: flex;
	justify-content: center;
	height: 70px;
	line-height: 70px;
	color: rgb(74, 74, 74);
	font-size: 112%;
	border-right: 1px solid #eee;
}
.item_content textarea, .item_point textarea {
	width: 100%;
	font-size: 100%;
	border-style: none;
	background-color: transparent;
	color: rgb(74, 74, 74);
}
.item_point textarea {
	text-align: center;
	color: red;
	font-size: 120%;
}
.item_content, .item_point{
	border-right: 1px solid #eee;
	display: flex;
	align-items: center;
	justify-content: center;
}
.savenowbtn {
	width: 100%;
	height: 100%;
	border-style: none;
	background-color: rgba(245, 247, 250, .5);
	color: grey;
	font-size: 100%;
	font-weight: thin;
}
.savenowbtn:hover {
	background: rgb(141, 199, 255);
  	color: white;
}