.boxB {
    width: 250px;
    height: auto;
    border: 1px solid rgb(230, 230, 230);
    margin: 2% 0 0 1%;
}

.hwTitle {

    width: 98%;
    height: 25px;
    padding: 1% 0 0 2%;
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: 15px;
    color: rgb(99, 106, 98);

}



.stdName {
    display: inline-block;
    width: 40%;
    height: 25px;
    padding: 1% 0 0 2%;
    font-size: 15px;
    color: rgb(99, 106, 98);
}

.stdTotalScore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.stdNum {
    width: 50%;
    display: inline-block;
    font-size: 15px;
    padding: 1% 0 1% 2%;
    color: rgb(99, 106, 98);


}

.stdEveryScore {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0 3% 0;

}

.teaName {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100px;
    margin: 1% 0 1% 2%;
    background-color: #15b7b9;
    color: white;
    font-size: 10px;
}

.Score {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 40px;
    color: #f73859;
    font-weight: bold;
}

.selfName {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1% 0 1% 2%;
    width: 100px;
    background-color: #596c68;
    color: white;
    font-size: 15px;
}

.groupName {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100px;
    margin: 1% 0 1% 2%;
    background-color: #95a792;
    color: white;
    font-size: 10px;
}
