textarea {
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 5px;
}

.taskTitle {
    width: 43%;
    height: 230px;
    margin-left: 6%;

}

.taskRequest {
    width: 43%;
    height: 230px;
    margin-left: 2%;
}

#submit {
    /*
    height: 5%;
    border-style: none;
    width: 17%;
    font-size: 120%;
    color: white;
    background: rgb(0, 152, 242);
    border-radius: 3px;
    text-align: center;
    margin-top: 3%;
    margin-left: 76%;
*/
}

.evaluteStandard {
    margin: 40px;
    width: calc(100% - 80px);
    border: solid 1px rgb(230, 233, 241);
    border-bottom: none;
    box-shadow: rgb(230, 230, 230) 0 0 20px;
    height: 70%;
}

html {
    min-width: 1200px;
    min-height: 800px;
}

.final {
    border: rgb(149, 201, 255) solid 1px;
    background-color: rgb(245, 250, 255);
    border-radius: 18px;
    color: rgb(5, 127, 254);
    width: 100px;
    height: 36px;
    font-size: 120%;
    margin-left: 4%;
    font-weight: thin;
}

.final:hover {
    border: rgb(5, 127, 254) solid 2px;
    background-color: rgb(5, 127, 254);
    color: white;
}

select,
input,
textarea {
    appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: solid 2.3px rgb(221, 237, 252);
    color: rgb(140, 144, 153);
    font-size: 100%;
    outline: none;
    resize: none;
    border-radius: 5px;
}

.search_input::-webkit-input-placeholder {
    color: #b6b6b6;
    font-size: 110%;
}
