@charset "utf-8";
body,
html {
    height: 100%;
}

body,
ul {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "微软雅黑", "宋体", "Arial Narrow", HELVETICA;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.g-index {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav {
    position: relative;
    width: 250px;
    height: 100%;
    background: rgb(245, 247, 250);
    border-right: solid rgb(230, 233, 240) 1px;
    transition: all .3s;
}

.nav-top {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    border-bottom: solid rgb(230, 233, 240) 1px;
}

.nav-logo img {
    margin-left: 10px;
    width: 80%;
    height: 90%;
}

.nav a {
    display: block;
    overflow: hidden;
    padding-left: 20px;
    line-height: 50px;
    max-height: 50px;
    color: rgb(141, 145, 153);
    transition: all .3s;
    display: flex;
    align-items: center;
}

.nav a span {
    margin-left: 30px;
}

.nav-item {
    position: relative;
    margin-bottom: 5px;
}

.nav-item ul {
    display: none;
    background: rgb(223, 237, 251);
}

.nav-item .nav-show ul {
    display: block;
    margin-bottom: 5px;
}

.nav-item > a:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 4px;
    height: 50px;
    background: rgb(50, 149, 247);
    opacity: 0;
    transition: all .3s;
}

.nav .nav-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -1px;
}

.nav-more {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    transition: transform .3s;
}

.nav-show .nav-more {
    transform: rotate(90deg);
}

.nav-show, .nav-item > a:hover {
    background: rgb(223, 237, 251);
}

.nav-show > a:before, .nav-item > a:hover:before {
    opacity: 1;
}

.has-chosen:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 4px;
    height: 50px;
    background: rgb(50, 149, 247);
    opacity: 1;
    transition: all .3s;
}

.has-chosen{
    background: rgb(223, 237, 251);
}

.nav-item li:hover a {
    color: black;
}

.hidden {
    flex-grow: 1;
}

.content {
    width: calc(100% - 250px);
    height: 100%;
    transition: all .3s;
}

.content-top {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    border-bottom: solid rgb(230, 233, 240) 1px;
    justify-content: flex-end;
}

.userCotrol-title, .userName, .userID {
    color: rgb(141, 145, 153);
}

label {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 150%;
}
textarea {
    width: 88%;
    height: 23%;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 5px;
    resize: none;
    margin-top: 4%;
    margin-left: 5%;
}
.submit {
    height: 5%;
    border-style: none;
    width: 17%;
    font-size: 120%;
    color: white;
    background: rgb(0, 152, 242);
    border-radius: 3px;
    text-align: center;
    margin-top: 3%;
    margin-left: 76%;
}
select {
    appearance: none;
    -moz-appearance: none;
    border: solid 2px rgb(221, 237, 252);
    width: 30%;
    height: 4.5%;
    color: rgb(140, 144, 153);
    margin : none;
    font-size: 100%;
    margin-left: 5%;
    margin-top: 3%;
    background: transparent;
}

#startTime, #deadLine{
    width: 88%;
    height: 9.1%;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 5px;
    resize: none;
    margin-top: 4%;
    margin-left: 5%;
}
#taskTheme {
    width: 88%;
    height: 50.65%;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 5px;
    resize: none;
    margin-top: 4%;
    margin-left: 5%;
}

.content-main-right, .content-main-left{
    width: 50%; 
    height: 100%; 
    display: flex; 
    flex-direction: column;
}
.content-main-left{
    border-right: solid 1px rgb(230, 233, 241);
}
.content-main{
    display: flex; 
    height: 85%; 
    margin-top: 1%;
    overflow: scroll;
}
